<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>MGE DevOps &nbsp;&nbsp;</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'" [routerLinkActive]="'link-active'"> Home </a>
      <a mat-button [routerLink]="'/tools'" [routerLinkActive]="'link-active'"> Tools </a>
      <a mat-button [routerLink]="'/envs'" [routerLinkActive]="'link-active'"> Environments </a>
      <a mat-button [routerLink]="'/docs'" [routerLinkActive]="'link-active'"> Documentation </a>
      <a mat-button [routerLink]="'/external'" [routerLinkActive]="'link-active'"> External Links </a>
      <a mat-button [routerLink]="'/other'" [routerLinkActive]="'link-active'"> Other </a>
      <a mat-button [routerLink]="'/contact'" [routerLinkActive]="'link-active'"> Contact </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <!-- hidden link to prevent first item in the list from being always auto-highlighted -->
      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">home</i>&nbsp;Home </a>
      <a mat-list-item [routerLink]="'/tools'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">engineering</i>&nbsp;Tools </a>
      <a mat-list-item [routerLink]="'/envs'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">cloud_circle</i>&nbsp;Environments </a>
      <a mat-list-item [routerLink]="'/docs'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">notes</i>&nbsp;Documentation </a>
      <a mat-list-item [routerLink]="'/external'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">open_in_new</i>&nbsp;External Links </a>
      <a mat-list-item [routerLink]="'/other'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">my_library_books</i>&nbsp;Other </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/contact'" [routerLinkActive]="'link-active'"
         (click)="sidenav.toggle()"><i class="material-icons">contact_support</i>&nbsp;Contact </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
