<div class="flexbox-parent container">
  <div layout="row" layout-align="center center">

    <h1 class="content-header">Servers by Environment</h1>
    <div>

    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Production
          </mat-panel-title>
          <mat-panel-description>
            Tomcat 9 and JBoss Servers
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <a mat-raised-button class="mat-primary" href="assets/images/aws-prod.svg" target="_blank">
            <i class="material-icons">file_download</i> Download</a>
        </p>
        <img class="server-diagram-centered" src="assets/images/aws-prod.svg">
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
