// current tools avatars
.avatar-jenkins {
  background-image: url('../images/avatars/jenkins.png');
  background-size: cover;
}

.avatar-gitlab {
  background-image: url('../images/avatars/gitlab.svg');
  background-size: cover;
}

.avatar-opengrok {
  background-image: url('../images/avatars/opengrok.png');
  background-size: cover;
}

.avatar-artifactory {
  background-image: url('../images/avatars/jfrog.svg');
  background-size: cover;
}

.avatar-sonarqube {
  background-image: url('../images/avatars/sonarqube.png');
  background-size: cover;
}

// legacy tools avatars
.avatar-mercurial {
  background-image: url('../images/avatars/hg.png');
  background-size: cover;
}

.avatar-nexus {
  background-image: url('../images/avatars/sonatype.png');
  background-size: cover;
}

// other tools avatars
.avatar-sumologic {
  background-image: url('../images/avatars/sumologic.png');
  background-size: cover;
}

.avatar-pam {
  background-image: url('../images/avatars/beyondtrust.png');
  background-size: cover;
}

.avatar-atlassian {
  background-image: url('../images/avatars/atlassian.jpeg');
  background-size: cover;
}
